.searchBar{
    border-radius: 5px;
    border: 1px solid #6E61BF;
    margin-left: 1100px;
}

.style{
    color: #F2F2F2;
}

.title{
    font-family: SF Pro Display;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #000000;
}

/* .row {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.col-2 {width:  50%} */